<p style="color: green"><%= notice %></p>

<%= render @apartment %>

<div>
  <%= link_to "Edit this apartment", edit_building_apartment_path(@building, @apartment) %> |
  <%= link_to "Back to apartments", building_apartments_path(@building) %>

  <%#= button_to "Destroy this apartment", @apartment, method: :delete %>
</div>
